.wrapper__ninth{
  position: relative;
  height: 850px;
  background: url(../img/bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  
}

.wrapper__tenth{
  position: relative;
  margin-top: -200px;
  z-index: -1;
}

.map{
  width: 400px;
  height: 210px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  top: 260px;
  right: 0;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .4);
}

.map__descr{
  margin-left: 20px;

  h1{
    padding-top: 30px;
  }

  p{
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 25px;
  }
}

.wrapper__eleventh{
  position: relative;
  height: 750px;
  background: url(../img/bg-8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.footer{
  height: 70px;
  background: #282a2c;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content__footer{
  align-items: center;
  display: flex;
}

.footer__pic{
  
  margin-right: 30px;

}

.footer__text{
  flex: 1;
  margin-top: 10px;
  h4{
    font-family: 'latobold';
    color: #ffffff;
    font-size: 16px;
  }
  p{    
    color: #ffffff;
    font-family: 'helveticaneuecyrroman';
    font-size: 14px;
  }
}

.footer__social{
  color: #ffffff; 
  

  img{
    width: 20px;
    height: 20px;    
    margin-right: 5px;

  }
  a{
    color: #ffffff;
    text-decoration: none;
  }
}

#updown {
  height: 40px;
  width: 40px;
  color: #f05c04;
  position: fixed;
  bottom: 80px;
  right: 10px;
  cursor: pointer;
  z-index: 55;

}

#updown.up{
  background: url(../img/up.png) no-repeat right bottom;
  background-size: cover;
  margin-right: 50px;
}

#updown.down::before {
  content: '';
}

.footer__form{
  width: 48%;
  position: absolute;
  right: 120px;
  background: #ffffff;
  top: 170px;
}

.form{
  padding-left: 50px;
  padding-top: 46px;
  padding-bottom: 25px;
  padding-right: 45px;
}

.forms{
  

  input{
    width: 340px;
    border: none;
    border-bottom: 1px solid #7e7e7e;
    padding: 15px;
    outline: none;
  }
}

.footer__title{
  margin: 0;
  font-family: 'latobold';
  color: #ed3a84;
  font-size: 34px;
}

.footer__descr{
  font-family: 'latoregular';  
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__question{
  margin-bottom: 50px;
}

.footer__button{
  border: none;
  width: 260px;
  color: #ffffff;
  position: relative;
  margin-left: 120px;
  height: 40px;
  background: #ec1e79;
  cursor: pointer;
  transition: 0.5s;
  font-family: 'latobold';  
  font-size: 18px;
  border-radius: 18px;

  &:hover{
    background: #cb540e;
  }
}
