extends _template

block content
    .site-wrapper
        .wrap
            .wrapper-spasibo
                .content
                    .header-spasibo
                        .back
                            i.fa.fa_back.fa-long-arrow-left
                                a(href="http://filatov-fit.ru/") Вернуться на сайт
                        .phone
                            i.fa.fa_phone.fa-phone(aria-hidden="true")
                                p 8-964-414-5067
                    .main-spasibo
                        .main__sended
                            h1 Спасибо за заявку
                            img(src="./img/ok.png")
                            p Скоро я свяжусь с вами
            .footer
                .content
                    .content__footer
                        .footer__text
                            img.footer__pic(src="./img/logo.png")
                            p Персональный тренер Виталий Филатов
                        .footer__social
                            a(href="http://instagram.com/vitfilatov").down__pic
                                img(src='./img/insta.png')
                            p Я в Instagram

